.typewriter {
  color: #eee;
  font-size: 1.125rem;
  white-space: pre-wrap;
}

/*==================== START: Heart bg animation ====================*/
.heart {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 200px;
  height: 200px;
  animation: heartbeatAnimate 3000ms ease infinite;
  &-partial {
    background: #ff0000;
    width: 70px;
    height: 125px;
    top: 40px;
    display: block;
    position: absolute;
    border-radius: 50%;
    &__left {
      left: 45px;
      transform: rotate(330deg);
    }
    &__right {
      right: 45px;
      transform: rotate(30deg);
    }
  }
  @keyframes heartbeatAnimate {
    78% {
      transform: translate(-50%, -50%) scale(0.8, 0.8);
    }
    85% {
      transform: translate(-50%, -50%) scale(1, 1);
    }
    100% {
      opacity: 0;
    }
  }
}
/*==================== END: Heart bg animation ====================*/

/*==================== START: Màn 0 ====================*/
.screen-0 {
  .door {
    display: block;
    width: 100%;
    &-partial {
      position: fixed;
      z-index: 9999;
      top: 0;
      width: 50.5%;
      height: 100vh;
      background-color: #151515;
      transition: all 300ms ease-in;
      &__left {
        left: 0;
        &.--open {
          left: -50.5%;
        }
      }
      &__right {
        right: 0;
        &.--open {
          right: -50.5%;
        }
      }
    }
  }
  .btn-open-door {
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    transition: opacity 300ms ease-in;
    &.--open {
      opacity: 0;
      pointer-events: none;
    }
  }
}
/*==================== END: Màn 0 ====================*/

/*==================== START: Màn 1 ====================*/
#video-box {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  background-color: #222;
  overflow: hidden;
  &::before {
    position: absolute;
    z-index: 999;
    content: "";
    width: 10rem;
    height: 125%;
    background: linear-gradient(#00ccff, #ff0000);
    animation: borderAnimate 4000ms linear infinite;
    @keyframes borderAnimate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  video {
    z-index: 1000;
    animation: showVideoAnimate 2000ms linear;
    @keyframes showVideoAnimate {
      0% {
        transform: scale(0.4) rotate(0);
      }
      100% {
        transform: scale(1) rotate(360deg);
      }
    }
  }
}
/*==================== END: Màn 1 ====================*/

/*==================== START: Màn 4 ====================*/
.screen-4 {
  .game-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .box-gift {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    // transition: all 300ms ease-in-out;
    img {
      width: 80%;
      opacity: 0.8;
      &.active {
        opacity: 1;
        animation: giftShakeAnimate 300ms ease infinite;
        @keyframes giftShakeAnimate {
          0% {
            transform: rotateZ(0);
          }
          25% {
            transform: rotateZ(10deg);
          }
          50% {
            transform: rotateZ(0);
          }
          75% {
            transform: rotateZ(-10deg);
          }
          100% {
            transform: rotateZ(0);
          }
        }
      }
    }
    &.active {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
/*==================== END: Màn 4 ====================*/
