/*==================== START: Common ====================*/
.typewriter {
  color: #eee;
  font-size: 1.125rem;
  white-space: pre-wrap;
}
.k2-btn {
  position: relative;
  display: inline-block;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  &:active {
    transform: translate(0em, 0.75em);
    &::before {
      transform: translate3d(0, 0, -1em);
    }
  }
  &-primary {
    color: #382b22;
    background: #ffe9e9;
    border: 2px solid #b18597;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      background: #f9c4d2;
      box-shadow: 0 0 0 2px #b18597;
    }
    &:active {
      background: #ffe9e9;
    }
  }
  &-secondary {
    color: #fff;
    background: #787980;
    border: 2px solid #515253;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      background: #424344;
      box-shadow: 0 0 0 2px #515253;
    }
    &:active {
      background: #787980;
    }
  }
}
/*==================== END: Common ====================*/

/*==================== START: Heart bg animation ====================*/
.heart {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 200px;
  height: 200px;
  animation: heartbeat1Animate 3000ms ease infinite;
  &-partial {
    background: #ff0000;
    width: 70px;
    height: 125px;
    top: 40px;
    display: block;
    position: absolute;
    border-radius: 50%;
    &__left {
      left: 45px;
      transform: rotate(330deg);
    }
    &__right {
      right: 45px;
      transform: rotate(30deg);
    }
  }
}
/*==================== END: Heart bg animation ====================*/

/*==================== START: Màn 0 ====================*/
.screen-0 {
  .door {
    display: block;
    width: 100%;
    &-partial {
      position: fixed;
      z-index: 9999;
      top: 0;
      width: 50.5%;
      height: 100vh;
      background-color: #151515;
      transition: all 300ms ease-in;
      &__left {
        left: 0;
        &.--open {
          left: -50.5%;
        }
      }
      &__right {
        right: 0;
        &.--open {
          right: -50.5%;
        }
      }
    }
  }
  .middle-screen {
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-heart {
    position: relative;
    width: 8rem;
    height: 8rem;
    background-color: #ff0000;
    transform: rotate(45deg);
    box-shadow: 0.75rem 0.75rem 8rem rgba($color: #ff0000, $alpha: 1);
    animation: heartbeat2Animate 1000ms linear infinite;
    cursor: pointer;
    transition: opacity 300ms ease-in;
    &.--open {
      opacity: 0;
      pointer-events: none;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      background: #ff0000;
    }
    &:before {
      top: calc(-4rem + 1px);
      width: 8rem;
      height: 4rem;
      border-top-left-radius: 4rem;
      border-top-right-radius: 4rem;
    }
    &::after {
      left: calc(-4rem + 1px);
      width: 4rem;
      height: 8rem;
      border-top-left-radius: 4rem;
      border-bottom-left-radius: 4rem;
    }
  }
  span.heart-of-khang {
    display: inline-block;
    transform: rotate(-45deg);
    width: 8rem;
    margin-top: 1rem;
    color: #fff;
    font-family: "Akronim", cursive;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
/*==================== END: Màn 0 ====================*/

/*==================== START: Màn 1 ====================*/
#video-box {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  background-color: #222;
  overflow: hidden;
  &::before {
    position: absolute;
    z-index: 998;
    content: "";
    width: 10rem;
    height: 125%;
    background: linear-gradient(#00ccff, #ff0000);
    animation: borderAnimate 4000ms linear infinite;
    @keyframes borderAnimate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 0.45rem);
    height: calc(100% - 0.45rem);
    background-color: #222;
  }
  video {
    z-index: 1000;
    animation: showVideoAnimate 2000ms linear;
  }
}
/*==================== END: Màn 1 ====================*/

/*==================== START: Màn 4 ====================*/
.screen-4 {
  .game-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .box-gift {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    // transition: all 300ms ease-in-out;
    img {
      width: 80%;
      opacity: 0.8;
      &.active {
        opacity: 1;
        animation: giftShakeAnimate 300ms ease infinite;
        @keyframes giftShakeAnimate {
          0% {
            transform: rotateZ(0);
          }
          25% {
            transform: rotateZ(10deg);
          }
          50% {
            transform: rotateZ(0);
          }
          75% {
            transform: rotateZ(-10deg);
          }
          100% {
            transform: rotateZ(0);
          }
        }
      }
    }
    &.active {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
/*==================== END: Màn 4 ====================*/

/*==================== START: Animation ====================*/
@keyframes heartbeat1Animate {
  78% {
    transform: translate(-50%, -50%) scale(0.8, 0.8);
  }
  85% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes heartbeat2Animate {
  0% {
    transform: rotate(45deg) scale(1);
  }
  20% {
    transform: rotate(45deg) scale(0.9);
  }
  40% {
    transform: rotate(45deg) scale(1.1);
  }
  60% {
    transform: rotate(45deg) scale(1);
  }
  80% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
@keyframes showVideoAnimate {
  0% {
    transform: scale(0.4) rotate(0);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
/*==================== END: Animation ====================*/
